 <!-- 
  1. Added a form that uses Semantic UI Framework for a responsive form.
  2. Added template variables to the input fields so click event function can use them.
      - Using the '#' creates local variables that we then pass as arguments into the function. 
      - Binding the title input to the #newtitle variable. #newtitle syntax is called a resolve. It allows the variable to be available to expressions within this view.
      - Template Variables are objects that represent input DOM elements in this case. This is why retreive the value of the variables with '(variablename).value'
  3. The Submit Button responds to a onclick event by running the addArticle function.
      - addArticle is a function on our component definition class AppComponent. 
      - newtitle comes from the resolve (#newtitle) on our input tag named title. 
      - newlink comes from the resolve (#newlink) on our input tag named link. 
 -->
 <form class="ui large form segment">
   <h3 class="ui header">Add a Link</h3>
  
   <div class="field">
    <label for="title">Title:</label>
     <input name="title" id="title" #newtitle>
    </div>
   <div class="field">
   <label for="link">Link:</label>
     <input name="link" id="link" #newlink>
     </div>
     <!-- Submit Button -->
     <button (click)="addArticle(newtitle, newlink)"
              class="ui positive right floated button">
       Submit link
     </button>
     <div class="ui grid posts"> 
       <article></article>
     </div>
   </form>




<router-outlet></router-outlet>